@import "../../styles/styles";

.conferenceApp {
  flex: 1;
  background-color: $primaryBackgroundColor;
  color: $primaryFontColor;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
}

.externalNavLink {
  border: solid 1px $secondaryBackgroundColor;

  &:hover,
  &:link:hover {
    color: $primaryFontColor;
    background-color: $secondaryBackgroundColor;
  }
}

.centeredText {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

 
}
