@import "../../styles/styles";

.conferenceApp {
  color: $primaryColor;
  position: relative;
  width: 100%;
}

.externalNavLink {
  border: solid 1px $secondaryColor;

  &:hover,
  &:link:hover {
    color: $backgroundColor;
    background-color: $secondaryColor;
  }
}

.subtitle {
  @extend %subtitle;
  width: 80%;
  margin: 100px auto;
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

 
}
