@import "styles";

.sponsorshipSelector {
  @extend %pageSection;
  @extend %flexColumn;
  flex: 1;

  .sponsorships {
    @extend %flexRow;
    margin: 60px 0;

    .sponsorshipHeader {
      cursor: pointer;
      outline: none;
      padding: 40px;
      background-color: rgba($secondaryBackgroundColor, 0.15);
      
      &:hover {
        background-color: rgba($secondaryBackgroundColor, 0.5);
      }

      &.active {
        background-color: $secondaryBackgroundColor
      }
    }

    .sponsorshipHeaderTitle {
      font-size: 0.67em;
      margin: 0;
    }

    .sponsorshipHeaderPrice {
      font-size: 0.67em;
      margin: 0;
    }
  }
}
