@import "../../styles/styles";

.schedule {
  @extend %pageSection;
  @extend %flexColumn;
  flex: 1;
  padding: 0;
  color: $backgroundColor;

  width: 750px;
  margin: 0 auto;
}

.daysHeader {
  @extend %flexRow;
  width: 100%;

  .dayHeader {
    @extend %flexRow;
    flex: 1;
    cursor: pointer;
    outline: none;
    padding: 20px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $disabledColor;

    &:hover {
      background-color: rgba($primaryColor, 0.5);
    }

    &.active {
      background-color: $primaryColor;
    }
  }
}

.dayTracks {
  @extend %flexRow;
  width: 100%;

  font-size: 24px;
  background-color: $tertiaryBackgroundColor;
  color: $primaryColor;

  .trackHeader {
    flex: none;  
    padding: 10px 55px;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    
    &:hover {
      background-color: rgba($tertiaryColor, 0.5);
    }

    &.active {
      background-color: $tertiaryColor;
    }
  }
}

.dayActivities {
  @extend %flexColumn;
  width: 100%;

  color: $primaryColor;
  font-size: 21px;

  .dayActivity {
    width: calc(100% - 40px);
    flex: 1;
    background-color: $disabledColor;
    padding: 20px;
    margin-bottom: 10px;
  }

  .nonTalkActivity {
    background-color: $secondaryColor;
    color: white;
    font-weight: bold;

    .dayActivityHeader {
      display: flex;
      justify-content: center;
    }
    
    .time {
      background-color: transparent;
    }

    .title {
      grid-row: 1 / span 2;
    }
  }

  .dayActivityHeader {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
  }
  
  .dayActivityBody {
    @extend %flexRow;
    margin: 5px 0;
  }
  
  .dayActivityFooter {
    @extend %flexRow;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
  }
  
  .time {
    display: flex;
    align-items: center;
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: $tertiaryBackgroundColor;
    border-radius: 5px;
    margin-right: 10px;
    padding: 15px;
  }
  
  .title {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
  }

  .expand {
    cursor: pointer;
    grid-row: 1 / span 2;
    grid-column: 3;
    @extend %flexRow;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;

    width: 35px;
    height: 35px;
    font-size: 14px;
    border: solid 3px $secondaryColor;
    border-radius: 50%;
    color: $secondaryColor;
  }

  .presenters {
    grid-row: 2;
    grid-column: 2;
    font-size: 18px;
  }
  
  .tags {
    @extend %flexRow;
    font-size: 16px;
    margin: 10px 0;

    .level {
      background-color: $primaryColor;
      color: $backgroundColor;
      border-radius: 15px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    .tag {
      background-color: $secondaryColor;
      color: $backgroundColor;
      border-radius: 5px;
      margin-right: 10px;
      padding: 5px;
    }
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {
    .schedule {
      width: auto;
      margin: 0 0 60px 0;
    }
}
