@import "styles";

.about {
  @extend %flexRow;
  background-color: $tertiaryBackgroundColor;
  position: relative;
  z-index: auto;

  .image {
    position: relative;
    width: 40vw;
  }

  .textSection {
    position: relative;
    margin-left: 50px;
  }

  .title {
    color: $titleFontColor;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px;

    &:before {
      content: "";
      display: flex;
      width: 50px;
      height: 4px;
      background-color: $titleFontColor;
      margin-bottom: 25px;
    }
  }

  .text {
    font-size: 18px;
  }
}
