@import "../../styles/styles";

.infoIcon {
  @extend %flexRow;
  align-items: center;
  color: $primaryColor;
  transition: color 0.25s ease-in-out 0s;
  margin: 0 75px 25px 0;
  cursor: default;

  text-transform: none;
  
  &:hover {
    color: $backgroundColor;

    .icon {
      border-color: $backgroundColor;
    }
  }

  &.link {
    text-transform: none;
  }

  .icon {
    width: 75px;
    height: 75px;
    border: solid 3px $primaryColor;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.25s ease-in-out 0s;
  }

  .info {
    width: 200px;
    margin-left: 15px;

    .title {
      font-size: 21px;
      margin: 0;
    }

    .subtitle {
      font-size: 18px;
      margin: 0;
    }
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

  .infoIcon,
  a.infoIcon,
  a.infoIcon:link {
    margin: 0 0 25px 0;
  }
}
