@import "../../styles/styles";

.pastEditions {
  @extend %flexColumn;
  align-items: flex-start;

  position: relative;
  z-index: auto;

  width: 100%;

  .editions {
    display: inline-block;
    width: 100%;

    .edition {
      position: relative;
      z-index: auto;
    }
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

  .pastEditions {
    .header { 
      .title {
        margin-left: 50px;
      }
    }

    .editions {
      .edition {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
