@import "../../styles/styles";

.navLink,
.navLink:link,
.navlink:visited {
  cursor: pointer;
  flex: none;
  text-decoration: none;
  text-transform: uppercase;
  color: $backgroundColor;
  font-weight: 600;

  min-width: 150px;
  min-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s;

  &:hover {
    color: $secondaryColor;
  }

  &.navActive {
    color: $secondaryColor;
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .navLink,
  .navLink:link,
  .navlink:visited {
    margin: 0 0 5px 0;
    justify-content: center;
  
    &:last-child {
      margin-right: 0;
    }
  }

  footer {
    .navLink,
    .navLink:link {
      font-size: 14px;
      margin: 0;
    }
  }
}

