@import "../../styles/styles";

.navLink,
.navLink:link,
.navlink:visited {
  cursor: pointer;
  flex: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s;

  &:hover {
    color: var(--secondaryColor);
  }

  &:last-child {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    margin-left: 10px;

    &:hover {
      background-color: var(--accentColor);
    }
  }
}


@media only screen and (max-device-width: 1120px),
only screen and (max-width: 1120px) {

  .navLink,
  .navLink:link,
  .navlink:visited {
    margin: 0 0 5px 0;
    justify-content: center;

    &:last-child {
      margin-left: 0;
    }
  }

  footer {

    .navLink,
    .navLink:link {
      font-size: 14px;
      margin: 0;
    }
  }
}
