@import "../../styles/styles";

.socialIcon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url("../SVGs/social-icons.svg");
  background-size: 548% 100%;
  margin-left: 10px;

  &:first-of-type {
    margin-left: 0px;
  }

  &:hover {
    background-color: rgba($secondaryFontColor, 0.25);
    border-radius: 50%;
  }
}

.twitter {
  background-position: 0 0;
}

.linkedin {
  background-position: -30px 0;
}

.facebook {
  background-position: -60px 0;
}

.instagram {
  background-position: -91px 0;
}

.youtube {
  background-position: -120.5px 0;
}
