@import "../../styles/styles";

.banner {
  @extend %banner;
  height: 400px;
}

.tag {
  @extend %tag;
}
.title {
  @extend %title;
  width: 80%;
  margin: 0 auto 50px;
}
@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {
    .title {
      width: 100%;
    }
 
}
