@import "../../styles/styles";

.globalApp {
  flex: 1;
  background-color: $primaryColor;
  color: $backgroundColor;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
}

.flags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flag {
  width: 75px;
  margin: 0 75px 25px 0;
  cursor: pointer;
  border: solid 4px navy;
  border-radius: 50%;
  
  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {
    .flags {
      text-align: center;
      margin: 0 0 0 25px;
    }
    
    .flag {
      margin: 0 25px 25px 0;
      width: 50px;

      &:last-of-type {
        margin-right: 25px;
      }
    }
}
