@import "../../styles/styles";

.globalApp {
  flex: 1;
  background-color: $primaryBackgroundColor;
  color: $primaryFontColor;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

 
}
