@import "../../styles/styles";

.globalApp {
  color: var(--primaryColor);
  position: relative;

  @extend %flexColumn;
  flex: 1;
  position: relative;
  width: 100%;
}

.flags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flag {
  width: 40px;
  margin: 0 20px 0 0;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

@media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
  .dn-ms {
    display: none;
  }
  .flags {
    text-align: center;
    margin: 0 0 0 25px;
  }

  .flag {
    margin: 0 15px 15px 0;
    width: 30px;

    &:last-of-type {
      margin-right: 25px;
    }
  }
}
