@import "../../styles/styles";

.conferenceApp {
  @extend %pageSection;
  @extend %flexColumn;

  flex: 1;
  position: relative;
  width: 100%;
  flex: 1;

  .externalNavLink {
    border: solid 1px var(--secondaryColor);

    &:hover,
    &:link:hover {
      color: var(--backgroundColor);
      background-color: var(--secondaryColor);
    }
  }

  .banner {
    @extend %container;
    padding: 0 0 2rem;
    .subtitle {
      @extend %subtitle;
      width: 70%;
      margin: 0 auto;
    }
    .tag {
      @extend %tag;
    }
  }

  .teamGlobal {
      text-align: center;
      text-transform: uppercase;
  }

  .video {
    @extend %container;
    display: flex;
    margin-top: 80px;
  }

  @media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
    .banner {
      .subtitle {
        width: 90%;
      }
    }
  }
}