@import "../../styles/styles";

.globalApp {
  flex: 1;
  background-color: $primaryBackgroundColor;
  color: $primaryFontColor;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.nav {
  position: relative;
  z-index: 2;
  width: calc(100% - 100px);
  height: calc(150px - 100px);
  padding: 50px;

  display: flex;
  flex-direction: row;
}

.navLink,
.navLink:link,
.navlink:visited {
  cursor: pointer;
  flex: none;
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryFontColor;
  font-weight: bold;
  font-size: 16px;

  min-width: 150px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out 0s;

  &:hover {
    color: $secondaryBackgroundColor;
  }

  &.navActive {
    color: $secondaryBackgroundColor;
  }

  &.home {
    flex: 1;
    justify-content: flex-start;
  }

  .logo {
    width: 100px;
    fill: $primaryFontColor;
    transition: fill 0.2s ease-in-out 0s;

    &:hover {
      fill: $primaryBackgroundColor;
    }
  }
}

.footer {
  width: calc(100% - 60px);
  height: 60px;
  padding: 0 30px;
  border-top: solid 4px $secondaryBackgroundColor;

  display: flex;
  flex-direction: row;
  align-items: center;

  .separator:before {
    content: " | ";
    margin: 0 20px 20px;
  }

  .navLink {
    font-size: 14px;
  }
}
