@import "../../styles/styles";

.globalApp {
  flex: 1;
  background-color: $primaryBackgroundColor;
  color: $primaryFontColor;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
}

.nav {
  position: relative;
  z-index: 2;
  width: calc(100% - 100px);
  height: calc(150px - 100px);
  padding: 50px;

  display: flex;
  flex-direction: row;
}

.navMenu {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.navLink,
.navLink:link,
.navlink:visited {
  cursor: pointer;
  flex: none;
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryFontColor;
  font-weight: bold;

  min-width: 150px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out 0s;

  &:hover {
    color: $secondaryBackgroundColor;
  }

  &.navActive {
    color: $secondaryBackgroundColor;
  }

  &.home {
    flex: none;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .logo {
    width: 100px;
    fill: $primaryFontColor;
    transition: fill 0.2s ease-in-out 0s;

    &:hover {
      fill: $primaryBackgroundColor;
    }
  }
}
.footer {
  width: calc(100% - 60px);
  height: 60px;
  padding: 0 30px;
  border-top: solid 4px $secondaryBackgroundColor;

  display: flex;
  flex-direction: row;
  align-items: center;

  .separator:before {
    content: " | ";
    margin: 0 20px 20px;
  }

  .navLink {
    font-size: 14px;
    flex: none;
  }
}


@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .nav {
    flex-direction: column;

    .navMenu {
      justify-content: flex-end;
    }

    .navLink,
    .navLink:link,
    .navlink:visited {
      min-width: auto;
      margin-right: 25px;
      justify-content: flex-start;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer {
    width: calc(100% - 20px);
    padding: 0 10px;

    .separator:before {
      margin: 0 5px 5px;
    }
  }
}
