@import "../../styles/styles";

.languageSelector {
  @extend %flexRow;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 0 20px;
}

.language {
  padding: 5px;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.5;
  
  &:first-child {
    border-right: solid 1px;
  }

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.65;
  }

  &.active {
    opacity: 1;
  }
}
