@import "./variables";

%pageSection {
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 1;
  font-size: 36px;
  overflow: hidden;
}

%flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%dottedTriangle {
  position: absolute;
  background-image: radial-gradient(var(--primaryColor) 20%, transparent 0);
  background-size: 7px 7px;
  height: 100%;
}

%triangle {
  position: absolute;
  width: 0;
  height: 0;
}

%images {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

  &::before {
    @extend %triangle;
    content: '';
    border-top: 70px solid;
    border-right: 120px solid transparent;
  }
}

%container {
  margin: auto;
  max-width: 85rem;
  width: 100%;
}

%banner {
  @extend %flexColumn;
  @extend %pageSection;
  @extend %container;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 35px;
}

%tag {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

%subtitle {
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
}

%title {
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}


%animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.oddSection {
  color: var(--backgroundColor);
  a {
    color: var(--backgroundColor);
  }
}

.evenSection {
  color: var(--primaryColor);
  a {
    color: var(--primaryColor);
  }
}

@media only screen and (max-device-width: 1120px),
only screen and (max-width: 1120px) {
  %title {
    font-size: 35px;
    line-height: 40px;
  }

  %subtitle {
    font-size: 30px;
    line-height: 35px;
  }

  %tag {
    font-size: 14px;
  }

}
