@import "./variables";

%pageSection {
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 1;
  font-size: 36px;
  overflow: hidden;
}

%flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

%dottedTriangle {
  position: absolute;
  background-image: radial-gradient($primaryColor 20%, transparent 0);
  background-size: 7px 7px;
  height: 100%;
}

%triangle {
  position: absolute;
  width: 0;
  height: 0;
}

%images {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

  &::before {
    @extend %triangle;
    content: '';
    border-top: 70px solid;
    border-right: 120px solid transparent;
  }
}

%container {
  margin: auto;
  max-width: 85rem;
}

%banner {
  @extend %flexColumn;
  @extend %pageSection;
  @extend %container;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 35px;
}

%subtitle {
  color: $primaryColor;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

%title {
  font-size: 60px;
  line-height: 55px;
  color: $primaryColor;
  font-weight: 700;
  text-align: center;
}


@media only screen and (max-device-width: 1120px),
only screen and (max-width: 1120px) {
  %title {
    font-size: 40px;
    line-height: 45px;
  }

  %subtitle {
    font-size: 14px;
  }

}