@import "./variables";

%pageSection {
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 1;
  font-size: 36px;
  padding: 35px 0;
}

%flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

%pageTitle {
  text-transform: uppercase;
  text-align: center;
  margin: 35px;
  padding: 0;
  font-size: 42px;
}

.section {
  @extend %pageSection;
  width: calc(100% - 200px);
  padding: 100px;

  background-color: $tertiaryBackgroundColor;
  color: $tertiaryFontColor;
}

.oddSection {
  @extend %pageSection;
  width: calc(100% - 200px);
  padding: 100px;

  background-color: $secondaryBackgroundColor;
  color: $primaryFontColor;
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .section,
  .oddSection {
    width: 100%;
    padding: 50px 0 0 0;
    flex-direction: column;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
