
/* BASE*/

$backgroundColor: #ffff;
$primaryColor: #1d115d;
$disabledColor: #f2f2f2;


/* Colores x Region */

/* Global   */
$secondaryColor: #7bdfea;
$accentColor: #ffc400;

/* Argentina
$secondaryColor: #ffc400;
$accentColor: #7bdfea; */

/* Chile 
$secondaryColor: #ff1e26;
$accentColor: #7bdfea; */

/* Uruguay
$secondaryColor: #518bff;
$accentColor: #7bdfea; */

/* México
$secondaryColor: #ff1e26;
$accentColor: #6db733;*/


/* Colombia */
$secondaryColor: #ff1e26;
$accentColor: #ffc400;

/* Peru 
$secondaryColor:#ff1e26;
$accentColor:  #f2f2f2;*/



$tertiaryBackgroundColor: rgba($secondaryColor, 0.2);