@import "../../styles/styles";

.team {
  @extend %flexRow;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;

  &.odd {
    .person {
      .personImage {
        border-color: $primaryBackgroundColor;
      }
    }
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: auto;
  margin: 0 50px 50px 0;
  
  .personImage {
    width: 235px;
    height: auto;

    border: solid 6px $secondaryBackgroundColor;
    border-radius: 50%;
  }

  .personName {
    text-align: center;
    margin: 20px 0 10px 0;
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .team {
    flex-direction: column;
    padding-bottom: 75px;
  }

  .person {
    margin: 50px 0 0 0;
  }
}
