@import "../../styles/styles";

.team {
  @extend %flexRow;
  z-index: 2;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 4rem 1rem 0;

}


.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 200px;
  min-height: 300px;
  margin: 0 25px;
  
  .personImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: var(--disabledColor);
  }

  .personJobInfo {
    font-size: 12px;
    text-align: center;
    color: var(--primaryColor);
    margin: 0;
  }

  .personName {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 18px;
  }

  .personSocialInfo {
    margin: 10px 0 0 0;
    height: 45px;
  }
  .socialIcon {
    fill: var(--primaryColor);
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

  .team {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 3rem;
    align-items: center;
  }

  .person {
    margin: 30px 0 0 0;
  }
}
