@import "../../styles/styles";

.about {
  @extend %pageSection;
  @extend %flexRow;

  position: relative;
  z-index: auto;

  .image {
    background-image: url("/images/about.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: none;
    height: 377px;
    position: relative;
    width: 672px;
  }

  .textSection {
    font-size: 21px;
    margin: 0 0 0 50px;
    position: relative;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1250px), only screen and (min-width: 900px) and (max-width: 1250px) {
  .about {
    flex-direction: column;
    padding-bottom: 0;

    .image {
      background-position: 50% 50%;
      background-size: cover;
      height: 500px;
      order: 2;
      width: 800px;
    }

    .textSection {
      margin: 0 0 25px 50px;
      width: 75%;
    }
  }
}

@media only screen and (max-device-width: 900px), only screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    padding-bottom: 0;

    .image {
      background-position: 50% 50%;
      order: 2;
      width: 100%;
    }

    .textSection {
      margin: 0 0 25px 50px;
      width: 75%;
    }
  }
}
