@import "../../styles/styles";

.about {
  @extend %flexRow;
  background-color: $tertiaryBackgroundColor;
  position: relative;
  z-index: auto;

  .image {
    flex: none;
    position: relative;
    width: 672px;
    height: 377px;
    background-image: url('https://vopenprodstorage.blob.core.windows.net/publicresources/About0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .textSection {
    position: relative;
    margin-left: 50px;
  }

  .title {
    color: $titleFontColor;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 35px;

    &:before {
      content: "";
      display: flex;
      width: 50px;
      height: 4px;
      background-color: $titleFontColor;
      margin-bottom: 25px;
    }
  }

  .text {
    margin: 0;
    font-size: 21px;
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .about {
    
    .image {
      width: 100%;
      order: 2;
      background-position: 50% 50%;
    }

    .textSection {
      width: 75%;
      margin-bottom: 25px;
    }
  }
}
