@import "../../styles/styles";

.evenSection,
.oddSection {

  .ctabuttons {
    @extend %container;
    padding: 0 20px;

  }
  .action {
    border-style: solid;
    border-width: 2px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    }
  }

.evenSection {
  .action {
    background-color: $backgroundColor;
    border-color: $primaryColor;

    &:hover {
      background-color: $primaryColor;
      color: $backgroundColor;
    }
  }
}

.oddSection {
  .action {
    background-color: $primaryColor;
    border-color: $primaryColor;

    &:hover {
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}