@import "styles";

.sponsorship {
  @extend %pageSection;
  @extend %flexColumn;

  .title {
    margin: 0;
  }

  .price {
    margin: 0;
  }

  .packageList {
    columns: 2;
  }

  .packageListItem {
    font-size: 21px;
    margin: 0 0 10px 0;
    list-style: none;
  }
}
