@import "../../styles/styles";

.tickets {
  @extend %container;
  @extend %flexRow;
  justify-content: center;
  padding: 0 20px;
  color: $primaryColor;

  .ticket {
    @extend %flexColumn;
    background: $backgroundColor;
    border-radius: 20px;
    align-items: center;
    flex: 1;
    margin: 0 10px;
    max-width: 400px;

    .title {
      font-size: 28px;
      padding: 3rem 2rem 2rem;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      border-bottom: dashed 1px $primaryColor;

      p {
        margin: 0;
        color: $secondaryColor;
      }

      .price {
        font-size: 3rem;
        font-weight: bold;
        color: $primaryColor;
      }
    }

    .ticketDate {
      font-size: 1rem;
      text-align: center;
      margin: 20px 0 0;
      text-transform: uppercase;
    }

    .list {
      list-style-type: none;
      margin: 0;
      padding: 30px;
      width: 100%;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -23px;
        width: 46px;
        height: 46px;
        z-index: 11;
        border-radius: 50%;
        background-color: $primaryColor;
      }

      &:after {
        right: -23px;
      }

      &:before {
        left: -23px;
      }

      .item {
        font-size: 24px;
        padding: 3px 0;

        .itemIcon {
          margin: 0 10px 0 0;
          font-size: 1rem;
          color: $secondaryColor;
        }

        .itemText {
          display: inline;
          font-size: 1rem
        }
      }
    }

    .buttons {
      @extend %flexRow;
      justify-content: center;
      border-top: dashed 1px $primaryColor;
      width: 100%;
    }
  }

  .disabledTicket {
    @extend .ticket;
    cursor: default;
    pointer-events: none;
    background: rgba($backgroundColor, 0.9);
  }

  .enabledTicket {
    @extend .ticket;

    border: solid 2px $secondaryColor;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.25s ease-in-out 0s;

    &:hover {
      transform: scale(1.01);
    }

    .title {
      background-color: $tertiaryBackgroundColor;
      color: $primaryColor;
      width: 100%;
    }
  }
}

@media only screen and (max-device-width: 1215px),
only screen and (max-width: 1215px) {
  .tickets {
    flex-direction: column;
  }

  .ticket {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    .buttons {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .button {
      margin-right: 0;
    }
  }
}
