@import "../../../styles/styles";

.edition {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  height: 350px;
  margin: 0 150px 100px 0;

  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;

  color: rgb(236, 236, 236);
  text-shadow: 1px 1px black;
  text-decoration: none;
  appearance: none;  

  opacity: 0.95;
  transition: background-size 0.5s ease-out;

  &:hover {
    opacity: 1;
    background-size: 110% 110%;
  }

  .location {
    flex: none;
    width: 100%;
    text-align: center;
  }
  
  .date {
    flex: none;
    width: 100%;
    text-align: center;
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

 
}
