@import "../../styles/styles";

.header {
  @extend %flexRow;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  height: 95px;
  flex: none;

  &.isNavMenuOpen {
    .navMenuIcon {
      color: var(--backgroundColor);
    }
    .navOptions {
      background-color: var(--primaryColor);
    }
  }

  .logo {
    fill: var(--backgroundColor);
    margin-right: 20px;
    width: 100px;
    transition: fill 0.25s ease-in-out 0s;
    margin-right: 20px;

    &:hover {
      fill: var(--secondaryColor);
    }
  }

  .nav {
    @extend %container;
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 0 20px;
  }

  .navOptions {
    flex: 1;
    @extend %flexRow;
    justify-content: flex-end;
    align-items: center;
  }

  .navMenu {
    flex: 1;
    @extend %flexColumn;
    align-items: flex-end;
    display: none;
    cursor: pointer;

    &.isNavMenuOpen {
      .navMenuIcon {
        color: var(--primaryColor);
      }

      .navOptions {
        @extend %flexColumn;
        position: absolute;
        top: 100%;
        padding: 10px;
        width: auto;

        a {
          border: none;
        }
      }
    }

    .navMenuIcon {
      outline: 0;
      font-size: 20px;
      padding: 10px 15px;
      margin: 0;
      transition: color 0.25s ease-in-out 0s;

      &:hover {
        color: var(--secondaryColor);
      }
    }
  }
}

.header.oddSection {
  background-color: var(--primaryColor);
  width: 100%;

  .navMenu {
    .navMenuIcon {
      color: var(--backgroundColor);
    }

    &.isNavMenuOpen {
      .navMenuIcon {
        color: var(--backgroundColor);
      }

      .navOptions {
        background-color: var(--primaryColor);
        border: solid 1px var(--backgroundColor);
      }
    }
  }

  .logo {
    fill: var(--backgroundColor);
    margin-right: 20px;
  }
}

.header.evenSection {
  background-color: var(--backgroundColor);
  width: 100%;

  .navMenu {
    .navMenuIcon {
      color: var(--primaryColor);
    }

    &.isNavMenuOpen {
      .navMenuIcon {
        color: var(--primaryColor);
      }

      .navOptions {
        background-color: var(--backgroundColor);
        border: solid 1px var(--primaryColor);
      }
    }
  }

  .logo {
    fill: var(--primaryColor);
  }
}

@media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
  .header {
    .nav {
      width: 100%;
      padding-left: 15px;

      .navOptions {
        display: none;
      }
    }

    .navMenu {
      display: flex;
    }
  }
}
