@import "../../styles/styles";

.header {
  @extend %flexRow;
  width: 100%;

  .nav {
    position: relative;
    z-index: 2;
    width: calc(100% - 100px);
    height: calc(150px - 100px);
    padding: 50px;
  
    display: flex;
    flex-direction: row;
  }

  .navOptions {
    flex: 1;
    @extend %flexRow;
    justify-content: flex-end;
  }

  .navMenu {
    flex: 1;
    @extend %flexColumn;
    align-items: flex-end;
    display: none;
    cursor: pointer;

    .navMenuIcon {
      outline: 0;
      font-size: 28px;
      padding: 10px 15px;
      margin: -10px 0 0 0;
      color: $backgroundColor;
      transition: color 0.25s ease-in-out 0s;

      &:hover {
        color: rgba($secondaryColor, 0.80);
      }
    }

    &.isNavMenuOpen {
      .navMenuIcon {
        background-color: darken($primaryColor, 10%);
        color: rgba($secondaryColor, 0.80);
      }

      .navOptions {
        @extend %flexColumn;
        padding: 10px;
        background-color: darken($primaryColor, 10%);

        a {
          border: none;
        }
      }
    }
  }

  .home {
    flex: none;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .logo {
    width: 100px;
    fill: $backgroundColor;
    transition: fill 0.25s ease-in-out 0s;

    &:hover {
      fill: $primaryColor;
    }
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .header {
    .nav {
      width: calc(100% - 50px);
      padding-left: 25px;
      padding-right: 25px;

      .navOptions {
        display: none;
      }
    }

    .navMenu {
      display: flex;
    }
  }
}
