@import "../../styles/styles";

.conductPage {
  @extend %pageSection;
  @extend %flexColumn;
  flex: 1;
}

.title {
  @extend %subtitle;
  padding: 5rem 0 2rem;
  color: var(--primaryColor);
}

.text {
  font-size: 21px;
  column-count: 2;
  margin: 0 35px;
  padding: 0 100px 100px;
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

  .text {
    column-count: 1;
    padding: 0;
  }
}
