%pageSection {
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 1;
  font-size: 36px;
  padding: 35px 0;
}

%flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

%pageTitle {
  text-transform: uppercase;
  text-align: center;
  margin: 35px;
  padding: 0;
  font-size: 42px;
}
