@import "../../styles/styles";

.loading {
  @extend %pageSection;
  @extend %flexRow;
  height: 100vh;
  position: relative;
  z-index: auto;
  background-color: var(--backgroundColor);
  color: var(--primaryColor);

  justify-content: center;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;

  :global {
    animation: 1.75s infinite heartBeat;
  }
}

@keyframes :global(heartBeat) {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

}

