@import "../../styles/styles";

.socialIcon {
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url("../SVGs/social-icons.svg") no-repeat transparent;
  background-size: 165px 29px;
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0px;
  }

  &:hover {
    background-color: rgba($backgroundColor, 0.25);
    border-radius: 50%;
  }

  &.odd {
    -webkit-filter: hue-rotate(23deg) saturate(100) brightness(0.55);
    filter: hue-rotate(23deg) saturate(100) brightness(0.55);
  }
}

.twitter {
  background-position: 0 0;
}

.linkedin {
  background-position: 25% 0;
}

.facebook {
  background-position: 50% 0;
}

.instagram {
  background-position: 75% 0;
}

.youtube {
  background-position: 100% 0;
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

  .socialIcon {
    margin-right: 5px;
  }
}
