@import "../../styles/styles";


.oddSection {
  background-color: $primaryColor;
  @extend %images;

  &:before {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primaryColor, 0.7);
  }

  .hero {
    @extend %container;
    padding: 0 20px;
    position: relative;
    bottom: -6rem;
    margin-top: -7rem;

    .title {
      @extend %title;
      color: $backgroundColor;
      width: 70%;
      margin: 30px 0;
      text-align: left;

    }

    .bajada {
      color: $backgroundColor;
      opacity: 0.7;
      font-size: 1.5rem;
      width: 50%;
    }

    .logo {
      width: 15rem;
      fill: $backgroundColor;
    }

    .tag {
      font-size: 2rem;
      margin: 0;
      font-weight: normal;
      color: $accentColor;

    }

    .time {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    .info {
      height: 500px;
      color: $accentColor;
      width: 100%;
      position: relative;
      display: flex;
      position: relative;
      z-index: 1;
    }

    .textPast {
      margin-top: -85px;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;


      .textAbout {
        font-size: 24px;
        line-height: 35px;
        padding: 50px;
        background-color: $accentColor;
        width: 100%;

        p {
          margin: 0;
          color: $primaryColor;
        }
      }

    }



    @media only screen and (max-device-width: 1120px),
    only screen and (max-width: 1120px) {


      .title,
      .bajada {
        width: 100%;
      }

      .textPast {
        flex-direction: column;
        margin-top: -45px;

        .textAbout {
          padding: 30px;
        }
      }

      .trianglePast {
        display: none;
      }
    }
  }
}