@import "../../styles/styles";


.oddSection {
  background-color: var(--primaryColor);
  @extend %images;
  background-image: var(--imageSrc);

  &:before {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#1d115d, 0.8);
  }

  .hero {
    @extend %container;
    padding: 0 20px;
    position: relative;
    bottom: -6rem;
    margin-top: -7rem;

    .title {
      @extend %title;
      color: var(--backgroundColor);
      width: 80%;
      margin: 30px 0;
      text-align: left;

    }

    .bajada {
      color: var(--backgroundColor);
      opacity: 0.7;
      font-size: 1.5rem;
      width: 60%;
    }

    .logo {
      width: 8.2rem;
      fill: var(--secondaryColor);
      margin-top: -7px;
      margin-right: 7px;
    }

    .tag {
      font-size: 2rem;
      margin: 0;
      font-weight: normal;
      color: var(--secondaryColor);

    }

    .time {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    .info {
      height: 500px;
      color: var(--accentColor);
      width: 100%;
      position: relative;
      display: flex;
      position: relative;
      z-index: 1;
    }

    .textActions {
      margin-top: -85px;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;


      .textData {
        font-size: 24px;
        line-height: 35px;
        padding: 35px 50px;
        background-color: var(--accentColor);
        width: 100%;
        max-width: 530px;

        p {
          margin: 0;
          line-height: 1;
          color: var(--primaryColor);
          a {
            text-decoration: none;
            color: var(--primaryColor);
          }
        }
      }

    }

    .arrowDown {
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 5px;

      polyline {
        stroke: var(--accentColor) !important;
      }

      &:hover {
        border-color: var(--secondaryColor);

        polyline {
          stroke: var(--secondaryColor) !important;
        }
      }
    }

    .bounce {
      @extend %animated;
      -webkit-animation-name: bounce;
      animation-name: bounce;
    }

    @-webkit-keyframes bounce {

      0%,
      100% {
        -webkit-transform: translateY(0);
      }

      50% {
        -webkit-transform: translateY(-5px);
      }
    }

    @keyframes bounce {

      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-5px);
      }
    }


    @media only screen and (max-device-width: 1120px),
    only screen and (max-width: 1120px) {


      .title,
      .bajada {
        width: 100%;
      }

      .textActions {
        flex-direction: column;
        margin-top: -45px;

        .textData {
          padding: 30px;
        }
      }

      .trianglePast {
        display: none;
      }
    }
  }
}
