@import "../../styles/styles";

.footer {
  @extend %container;
  height: 85px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .separator:before {
    content: " | ";
    margin: 0 20px 20px;
  }

  .navLink {
    font-size: 14px;
    flex: none;
  }
  .countries {
    @extend %flexRow;
    padding: 5px 0 0 20px;
  }
}

@media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
  .footer {
    .countries {
      display: none;
    }
  }
}
