@import "../../styles/styles";

%shadow {
  color: rgb(236, 236, 236);
  text-shadow: 1px 1px black;
}

.userpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5% 5% 8.5% 5%;

  .title {
    @extend %title;
    @extend %shadow;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(236, 236, 236);
    text-shadow: 1px 1px black;
  }

  .header {
    @extend %title;
    @extend %shadow;
    line-height: 1em;
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 500;
  }

  .subHeader {
    @extend %title;
    @extend %shadow;
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 500;
    color: rgb(236, 236, 236);
    text-shadow: 1px 1px black;
  }

  .conference,
  .conference:link,
  .conference:visited {
    @extend %title;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(236, 236, 236);

    &:hover {
      color: var(--secondaryColor);
    }
  }

  .list {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .item {
    @extend %shadow;
    display: inline-block;
    font-size: 2em;
    list-style-type: none;
    padding: 0 1em 0 1em;
    text-transform: uppercase;
  }

  .item span {
    display: block;
    font-size: 6rem;
  }

  .action {
    border-style: solid;
    border-width: 2px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;

    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    text-shadow: none;

    &:hover {
      background-color: var(--backgroundColor);
      border-color: var(--backgroundColor);
      color: var(--primaryColor);
    }
  }
}

@media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
  .countdown {
    .title {
      width: 100%;
      font-size: 2em;
    }

    .list {
      display: flex;
      padding: 0;
    }

    .item {
      font-size: 1em;
    }

    .item span {
      font-size: 3rem;
    }
  }
}
