@import "../../styles/styles";

.actionButton {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 21px;
  height: auto;
  margin: 0 25px 25px 0;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  transition: background-color 0.25s ease-out;
  width: auto;

  &:last-of-type {
    margin-right: 0;
  }

  &.primary {
    border: solid 2px $tertiaryColor;
    color: $backgroundColor;

    &:hover {
      background-color: $tertiaryColor;
    }
  }

  &.secondary {
    border: solid 2px $secondaryColor;
    color: $backgroundColor;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  &.tertiary {
    background-color: $primaryColor;
    color: $backgroundColor;
    padding: 27px;

    &:hover {
      background-color: rgba($primaryColor, 0.95);
    }
  }

  &.disabled {
    border: solid 2px $secondaryColor;
    opacity: 0.5;
    pointer-events: none;
  }
}

@media only screen and (max-device-width: 900px), only screen and (max-width: 900px) {
  .actionButton {
    margin-right: 0;
  }
}
