@import "../../styles/styles";

.actionButton {
  display: inline-block;
  
  text-shadow: 1px 1px black;
  text-decoration: none;
  appearance: none;
  
  width: auto;
  height: auto;
  padding: 25px;
  margin: 0 25px 25px 0;

  font-size: 21px;
  text-transform: uppercase;
  transition: background-color 0.25s ease-out;

  &.primary {
    color: $secondaryTitleFontColor;
    border: solid 2px $secondaryFontColor;

    &:hover {
      background-color: $secondaryFontColor;
    }
  }

  &.secondary {
    color: $secondaryTitleFontColor;
    border: solid 2px $secondaryBackgroundColor;

    &:hover {
      background-color: $secondaryBackgroundColor;
    }
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  .actionButton {
    margin-right: 0;
  }
}
