@import "../../styles/styles";

.actionButton {
  appearance: none;
  display: inline-block;
  font-size: 21px;
  height: auto;
  margin: 0 25px 25px 0;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  transition: background-color 0.25s ease-out;
  width: auto;

  &:last-of-type {
    margin-right: 0;
  }

  &.primary {
    border: solid 2px $secondaryFontColor;
    color: $secondaryTitleFontColor;

    &:hover {
      background-color: $secondaryFontColor;
    }
  }

  &.secondary {
    border: solid 2px $secondaryBackgroundColor;
    color: $secondaryTitleFontColor;

    &:hover {
      background-color: $secondaryBackgroundColor;
    }
  }

  &.tertiary {
    background-color: $primaryBackgroundColor;
    color: $secondaryTitleFontColor;
    padding: 27px;

    &:hover {
      background-color: rgba($primaryBackgroundColor, 0.95);
    }
  }
}

@media only screen and (max-device-width: 900px), only screen and (max-width: 900px) {
  .actionButton {
    margin-right: 0;
  }
}
