@import "../../styles/styles";

.actionButton {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: auto;
  margin: 0;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.25s ease-out;
  width: auto;
  font-weight: 700;

  &:last-of-type {
    margin-right: 0;
  }

  &.primary {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);

    &:hover {
      background-color: var(--secondaryColor);
      color: var(--primaryColor);
    }
  }

  &.secondary {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    &:hover {
      background-color: var(--primaryColor);
      color: var(--backgroundColor);
    }
  }

  &.tertiary {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);

    &:hover {
      background-color: rgba(var(--primaryColor), 0.95);
    }
  }

  &.disabled {
    background-color: var(--disabledColor);
    color: rgba(var(--primaryColor), 0.5);
    pointer-events: none;
  }
}

@media only screen and (max-device-width: 1120px), only screen and (max-width: 1120px) {
  .actionButton {
    margin-right: 0;
  }
}
