@import "../../styles/styles";

.schedulePage {
  @extend %container;
  padding: 0 50px;
}

.banner {
  @extend %container;
  padding: 5rem 0 2rem;
  .subtitle {
    @extend %subtitle;
    width: 70%;
    margin: 0 auto;
  }
  .tag {
    @extend %tag;
    text-transform: uppercase;
  }

}


@media only screen and (max-device-width: 1120px),
only screen and (max-width: 1120px) {
  .schedulePage {
    padding: 0;
  }
}