@import "../../styles/styles";

.registerEmail {
  @extend %pageSection;
  @extend %flexColumn;

  .title {
    width: 100%;
    text-align: center;
  }

  .section {
    .input {
      float: left;
      outline: none;
      appearance: none;
      border: solid 3px $secondaryFontColor;
      width: 200px;
      height: 45px;
      padding: 0 15px;
      font-size: 21px;
    }

    .button {
      cursor: pointer;
      float: left;
      outline: none;
      appearance: none;
      width: 53px;
      height: 51px;
      border: solid 3px $secondaryFontColor;
      border-left: none;
      background-color: transparent;

      &:active {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
      }
    }

    .arrowRight {
      polyline {
        stroke: $secondaryFontColor;
      }
    }
  }
}
