@import "../../styles/styles";

.evenSection,
.oddSection {
.banner {
  @extend %banner;
}

.tag {
  @extend %tag;
}

.title {
  @extend %title;
  width: 60%;
  margin: 0 auto;
}

.actions {
  flex: none;
  @extend %flexRow;
  align-items: center;
  margin: 80px 0 0 0;
}

.children {
  @extend %flexRow;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}


.oddSection {
  background-color: $primaryColor;
}

  @media only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

    .title {
      width: 100%;
    }
  }