@import "../../styles/styles";

.sponsors {
  @extend %pageSection;
  @extend %flexColumn;
  position: relative;
  z-index: 1;

  width: 100%;
}

.title {
  text-align: center;
}

.sponsorsRow {
  @extend %flexRow;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor {
  width: 300px;
  height: auto;
  margin: 0 50px 100px 50px;
  padding: 0;

  display: inline-block;

  font-size: 21px;text-decoration: none;
  color: white;
  text-decoration: none !important;

  .sponsorImage {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .sponsorLegend {
    width: 100%;
    height: 35px;

    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  &.diamond {
    width: 450px;

    .sponsorImage {
      height: 200px;
    }

    .sponsorLegend {
      display: inline-flex;
      background-color: $tertiaryColor;
    }
  }

  &.gold {
    width: 400px;

    .sponsorImage {
      height: 150px;
    }

    .sponsorLegend {
      display: inline-flex;
      background-color: goldenrod;
    }
  }

  &.silver {
    width: 350px;

    .sponsorImage {
      height: 100px;
    }

    .sponsorLegend {
      display: inline-flex;
      background-color: silver;
    }
  }

  &.digital {
    width: 300px;

    .sponsorImage {
      height: 50px;
    }

    .sponsorLegend {
      display: inline-flex;
      background-color: darkseagreen
    }
  }
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

    .sponsor {
      margin-right: 0;
    }
}
