@import "../../styles/styles";

.sponsors {
  @extend %pageSection;
  @extend %flexColumn;

  justify-content: center;
  flex: 1;
  padding: 0 100px 35px 100px;
}

.title {
  text-align: center;
}

.sponsorsRow {
  @extend %flexRow;
  flex-wrap: wrap;
  padding: 30px;
}
.sponsorLegend {
  text-align: center;
  font-size: 12px;
}
.sponsor {
  @extend %flexRow;
  width: 250px;
  height: 100px;
  margin: 15px;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  justify-content: center;

  &:hover {
    -webkit-filter: grayscale(0); 
    filter: grayscale(0%);
  }
}

@media 
  only screen and (max-device-width: 1120px),
  only screen and (max-width: 1120px) {

    .sponsor {
      margin-right: 0;
    }
}
