@import "../../styles/styles";

.sponsors {
  @extend %pageSection;
  @extend %flexColumn;
  align-items: center;
  
  position: relative;
  z-index: 1;

  width: 100%;
  min-height: 621px;
}

@media 
  only screen and (max-device-width: 900px),
  only screen and (max-width: 900px) {

  
}
